<body>
  <div class="float-icons">
    <a class="maintenance" href="#" class="icon-container">
      <i class="icon-mail"></i>
    </a>
    <a class="icon-container whatsapp">
      <i class="icon-whatsapp"></i>
    </a>
  </div>
  <header id="header">
    <div class="container">
      <div class="logo-container">
        <a href="/"><img src="/logo.svg" alt="Ânimo Consultoria"></a>
      </div>
      <nav class="menu-container">
        <button data-menu="button" aria-expanded="false" aria-controls="menu">
          <i class="icon-menu active"></i>
          <i class="icon-x"></i>
        </button>
        <ul data-menu="menu" id="menu">
          <li><a href="/">Home</a></li>
          <li class="services-trigger" data-dropdown="trigger">
            <a>Serviços</a>
            <ul class="services-menu" data-dropdown="menu">
              <li><a href=""></a></li>
            </ul>
          </li>
          <li><a href="">Trabalhe Conosco</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </div>
  </header>