<%- include ('./partials/head') %>
  <%- include ('./partials/header') %>
    <main>
      <section id="not-found">
        <div class="container">
          <img src="/assets/img/404-illustration.png" alt="Não Encontrado">
          <p>O que você está procurando não foi encontrado!</p>
          <a href="/">Voltar para o site</a>
        </div>
      </section>
      <%- include ('./partials/services') %>
    </main>
    <%- include ('./partials/footer') %>