<footer id="footer">
  <div class="contact-data">
    <div class="container">
      <div class="info-container">
        <img src="/assets/img/short-logo.png" alt="Ânimo Consultoria - Logo Reduzida">
        <p>Entre em contato conosco e dê um Ânimo no seu negócio!</p>
      </div>
      <ul class="links-container">
        <li><a href="">Sobre Nós</a></li>
        <li><a href="/#services">Nossos Serviços</a></li>
        <li><a href="" target="_blank">Trabalhe Conosco</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <ul class="social-container">
        <li><a href="https://www.facebook.com/animoconsultoriapage" target="_blank"><img src="/assets/icons/social-media/facebook-icon.png" alt="Facebook Logo">/animoconsultoriapage</li></a>
        <li><a href="https://www.instagram.com/animoconsultoria/" target="_blank"><img src="/assets/icons/social-media/instagram-icon.png" alt="Instagram Logo">@animoconsultoria</li></a>
        <li><a href="https://www.linkedin.com/in/animoconsultoria/" target="_blank"><img src="/assets/icons/social-media/linkedin-icon.png" alt="LinkedIn Logo">/animoconsultoria</li></a>
      </ul>
      <ul class="address-container">
        <li><span>Endereço: </span>Rua Gastao Gonçalves
          Niteroi, RJ 24220-400
          Brasil</li>
        <li><span>Telefone: </span>(21) 2199-6600</li>
        <li><span>Email: </span>contato@animoconsultoria.com.br</li>
      </ul>
    </div>
  </div>
  <div class="copy">
    <span>Copyright &copy; 2022 - Ânimo Consultoria. Todos os Direitos Reservados</span>
  </div>
</footer>
</body>

</html>