<header id="header">
  <div class="container">
    <a class="logo" href="/"><img src="/logo.svg" alt="Ânimo Consultoria"></a>
    <nav class="menu-container">
      <div data-mobile-menu="button" aria-controls="menu">
        <button class="active">
          <i class="icon-menu"></i>
        </button>
        <button>
          <i class="icon-x"></i>
        </button>
      </div>
      <ul data-mobile-menu="menu" id="menu">
        <li><a href="/">Home</a></li>
        <li class="services-trigger" data-dropdown="trigger">
          <a>Serviços</a>
          <ul class="services-menu" data-dropdown="menu">
          </ul>
        </li>
        <li><a href="">Trabalhe Conosco</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/about">Sobre</a></li>
      </ul>
    </nav>
  </div>
</header>